/*We have only one stylesheet file*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');


html{
  background: linear-gradient(black,#031121,#031121  )
}
.App {
  text-align: center;
}




body{
  background-color: #031121;
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  background: url("pages/img/GS.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.App-header {
  width: 100%;
  height: 100px;
  border-bottom: solid 2px #BF223B;
  background-color: #031121;
}

.item {
  border-radius: 40px;
  margin: 50px;

}

.posterPicture{
  box-shadow:0 0 0 10px 0px black;
}

.backGround{
  width: 400px;
  height: 100px;
}


.MainTitle {
  font-size: 4vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.genres {
  padding-left: 10px;
}


.maindiv{
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.divbox{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.flextitle{
  text-align: left;
  width: 60%;
  padding-bottom: 10px;
  border-bottom: solid white 2px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.divsynopsis{
  text-align: left;
  width:80%;
  margin-left: 68px;
  font-size: 18px;
}

h3{
  font-size: 24px;
}

.div-third{
  width: 30%;
}

.divNumber{
  display: flex;
  justify-content: space-between;
  margin-left: 68px;
  width: 80%;
  flex-wrap: wrap;

}

.grid{
  margin-top: 500px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.posterPicture{
  box-shadow: 0 0 15px 1px black;
}

.logo{
  position: absolute;
  top: -230px;
  left:-100px;
  width: 40%;
  z-index: 1;
}

.productionCompagnie{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.category{
  display: flex;
}

.searchBar{
  width: 250px;
  height: 30px;
  position: relative;
  top: -70px;
  left: 200px;
  border-radius: 50px;
  border: none;
  padding-left: 15px;
  outline: none;
}




input:hover{
  box-shadow:0px 0px 15px 2px rgb(73, 72, 72);
}

.time{
  margin-right: 30px;
}
.date{
  margin-right: 30px;
}


.Avis{
  margin-top: 30px;
  text-align: left;
  margin-left: 68px;
  display: flex;
}

.buttons{
  text-align: left;
  margin-left: 50px;
  margin-top: 20px;
}

.bigButtons{
  text-align: left;
  margin-left: 50px;
  margin-top:50px
}

.redButton{
  padding: 4px 15px 3px 15px;
  border: solid 1px  #E72B44;
  border-radius: 5px ;
  color: #E72B44;
  margin: 20px;

}

.redButton:hover{
  background: #E72B44;
  transition: 0.5s;
  color: #fff;
}

.whiteButton{
  padding: 6px 80px 12px 80px;
  border-radius: 5px ;
  color: #fff;
  background-color: #E72B44;
  margin: 20px;
  font-size: 17px;


}

/*WAVE MOVING*/
.wavemoving{
  width: 100%;
  height: 250px;
  margin-top: 100px;
  background: url("pages/img/wave.png");
  background-size: cover;
  background-repeat: repeat-x;
  animation: wavemove 10s linear infinite;
  user-select: none;
  background-position-y: 800px;
}

.item{
  width:300px;
}

@keyframes wavemove{
  0%{
    background-position: 0px;
  }

  100%{
    background-position: -1920px;
  }
}







/*          NAV BAR           */  

nav{
  height: 50px;
  background:#031121;
}

.list{
  list-style-type: none;
  background:#031121;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 22px;
  left: -150px;
  margin: 0;
  padding: 0;
}

.items{
  margin-right: 10px;
  color: white;
  cursor: pointer;
  padding: 20px;
  text-align: center;
}



.item_Espace{
  margin-right: 10px;
  color: #E72B44;
  cursor: pointer;
  padding: 20px;
  position: relative;
  left: 400px;
}

.items:hover{
color: #E72B44;
}

.item_Espace:hover{
  color:white;
}

.btn{
  display: none;
}





/* RESPONSIVE*/


@media screen and (max-width: 500px){
  .list{
    flex-direction: column;
    height: 200px;
  }
  .items:nth-child(1){
    border-top: 1px solid #fff;
    margin-top: 50px;
  }
  .items{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #fff;
    line-height: 50px;
  }
  .btn{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #BF223B;
    cursor: pointer;
  }
}

/*          NAV BAR           */  

.slider{
  text-align: center;
  position: relative;
  align-items: center;
}


/* MOVING BUTTON*/



button {
  border-radius: 4px;
  background-color: #BF223B;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  background-position: right bottom;
  transition: all .5s ease-out;
  outline: none;
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}



button:hover{
  background-color: #BF223B;
  opacity: 0.5;
}

