

.App {
  text-align: center;
 
}

*{
  background-color: #031121;
}

.App-header {
  color: white;
}

.item {
  border-radius: 40px;
}

.backGround{
  width: 400px;
  height: 100px;
}


.MainTitle {
  font-size: 4vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  
}



.maindiv{
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.container{
  display:flex;
  flex-direction: column;
}

.divbox{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.flextitle{
  text-align: left;
  width: 60%;
  padding-bottom: 10px;
  border-bottom: solid white 2px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.divsynopsis{
  text-align: left;
  width:80%;
  margin-left: 68px;
  font-size: 18px;
}

h3{
  font-size: 24px;
}

.div-third{
  width: 30%;
}

.divNumber{
  display: flex;
  justify-content: space-between;
  margin-left: 68px;
  width: 80%;

}